<h1><%= @store.name %>
  Products</h1>
<% if current_store_admin %>
  <%# <%= link_to "New Product", new_product_path, data: { turbo_frame: dom_id(Product.new) } %1> %>
  <%= link_to "New Product", new_store_product_path(@store) %>
<% end %>

<%# <%= turbo_frame_tag Product.new %1> %>

<%# <%= turbo_frame_tag Product.new, class: "grid-container" do %1> %>
<div class="grid-container">
  <% @products.each do |product| %>
    <%= render "products/product", product: product %>
  <% end %>
</div>
<%# <% end %1> %>
