<div class="OrderShow__quantity-control" data-product-id="<%= item.product.id %>">
  <% if order.open? %>
    <%= form_with model: order, url: order_item_path(item), method: :patch, html: { class: 'minus-form' } do |form| %>
      <%= form.fields_for :order_item, item do |order_item_fields| %>
        <%= order_item_fields.hidden_field :quantity, value: -1 %>
        <%= order_item_fields.hidden_field :product_id, value: item.product.id %>
        <%= form.submit '-', class: "OrderShow__quantity-btn minus" %>
      <% end %>
    <% end %>
  <% end %>
  <span class="OrderShow__quantity-display"><%= item.quantity %></span>
  <% if order.open? %>
    <%= form_with model: order, url: order_item_path(item), method: :patch, html: { class: 'plus-form' } do |form| %>
      <%= form.fields_for :order_item, item do |order_item_fields| %>
        <%= order_item_fields.hidden_field :quantity, value: 1 %>
        <%= order_item_fields.hidden_field :product_id, value: item.product.id %>
        <%= form.submit '+', class: "OrderShow__quantity-btn minus" %>
      <% end %>
    <% end %>
  <% end %>
</div>
