<% @orders.each do |order| %>
  <tr>
    <td><%= order.id %></td>
    <td><%= order.user.email %></td>
    <td><%= order.total %></td>
    <td><%= order.created_at %></td>
    <td><%= link_to 'Show', order %></td>
    <td><%= link_to 'Edit', edit_order_path(order) %></td>
    <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>