<%= form_with(model: product) do |form| %>
  <% if product.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <div>
        <% product.errors.full_messages.to_sentence.capitalize %>
      </div>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :price, style: "display: block" %>
    <%= form.text_field :price, default: 0.00 %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :out_of_stock, style: "display: block" %>
    <%= form.check_box :out_of_stock %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<%= link_to "Cancel", products_path, class: "btn btn--light" %>
<% end %>
