<div class="Footer__Container">
  <div class="Footer__Links">
    <%= link_to "Home", root_path %>
    <% if @active_user  && !current_store_admin && !@active_user.is_a?(Guest) %>
      <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete } %>
    <% elsif store_admin_signed_in? %>
      <%= link_to "Log out",
      destroy_store_admin_session_path,
      data: {
        turbo_method: :delete,
      } %>
    <% else %>
      <%= link_to "User Log in", new_user_session_path %>
      <%= link_to "Admin Sign In", new_store_admin_session_path %>
    <% end %>
  </div>
</div>
