<div class="Navbar__Container">
  <div class="col-left">

    <div class="Navbar__LoggedInAs">
      Logged in as:
      <%= display_username %>
    </div>
    <div>
      <%= link_to 'View All Orders', orders_index_path %>
    </div>
  </div>
  <div class="Navbar__Links col-right">
    <div>
      Current Order:
      <%= @order.order_items.count %>
    </div>
    <%= link_to 'Home', pages_home_path %>
    <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
  </div>
</div>
