<div class="Navbar__Container">
  <div class="col-left">

    <div class="Navbar__LoggedInAs">
      Logged in as:
      <%= display_username %>
    </div>
    <div>
      <% if current_user || current_store_admin %>
        <%= render "shared/#{user_type}_links", path: "orders_index" %>
      <% end %>
    </div>
  </div>
  <div class="Navbar__Links col-right">
    <%= link_to "Home", root_path %>
    <% if current_user || current_store_admin %>
      <%= render "shared/#{user_type}_links", path: "cart_show" %>
      <%= render "shared/#{user_type}_links", path: "log_out" %>
    <% end %>
  </div>
</div>
